<div class="row">
	<div class="col-md-4">
		<%= image_tag("selfie.png", :class => "img-circle img-responsive center-block") %>
	</div>
	<div class="col-md-4">
		<h1>Hello</h1>
		<p>
			My name is Christoffer, and I created this page.
			The goal with <strong>intime</strong> is to provide a simple service for small- to medium-sized projects where users can add tasks and keep an accurate track of the time spent on each task. If you find any
			bugs, or have some else you want to tell me, feel free to hit me up!
		</p>
	</div>
	<div class="col-md-4">
		<h1>Contact</h1>
		<p>
			<strong>Email:</strong> christoffer.goude@gmail.com
		</p>
		<p>
			<strong>Twitter:</strong> @ChrisGoude
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to 'Back', :back, {:class => "btn btn-default btn-block"} %>
	</div>
</div>
