<div class="row">
	<div class="col-md-12 text-center">
		<h1>Take control of your time management.</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p class="text-center">
			So, what is <strong>intime</strong>? Well, to put it simple, it's a timer tool. A great timer tool, which you can use to keep track of all the time you spend in your project. Heck, it even keeps
			track of each task in every single project, and the time you spent on each task! This is a tool born from a personal need. As some of you codemonkeys might have noticed, you can become so engrossed
			in programming that you lose track of time, and sometimes timekeeping is an integral part of your project.
		</p>
	</div>	
</div>
